body {
    background: #f6f6f6;
}

a {
    color: #000;
    &:hover {
        color: #000;
    }
}

.max-w-675 {
    max-width: 675px;
    margin: 0 auto;
}
.max-w-710 {
    max-width: 710px;
    margin: 0 auto;
}
.max-w-815 {
    max-width: 815px;
    margin: 0 auto;
}
.max-w-920 {
    max-width: 920px;
    margin: 0 auto;
}
.max-w-960 {
    max-width: 960px;
    margin: 0 auto;
}
.max-w-670 {
    max-width: 670px;
    margin: 0 auto;
}
.sec-lvl-1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    #video-background {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 2;
    }
    .for-abs-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 62px;
        display: flex;
        z-index: 10;
        .rel-logo {
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                position: relative;
                display: flex;
                flex-direction: column;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -27px;
                    left: 0;
                    width: 5000px;
                    height: 3px;
                    background: #fff;
                }
                p {
                    margin-bottom: 0;
                    position: relative;
                    z-index: 15;
                }
                .f {
                    text-transform: uppercase;
                    margin-left: auto;
                    color: #fff;
                    font-family: BebasNeueBold;
                    font-size: 38px;
                    line-height: 42px;
                    padding-left: 45px;
                    background-image: url(../img/logo-1.png);
                    background-repeat: no-repeat;
                    background-position: top 1px left;
                }
                .s {
                    color: #fff;
                    font-family: BebasNeueBold;
                    text-transform: uppercase;
                    font-size: 150px;
                    line-height: 150px;
                    letter-spacing: -4px;
                    margin: 0;
                }
                .t {
                    color: #fff;
                    font-family: BebasNeueBold;
                    text-transform: uppercase;
                    font-size: 60px;
                    line-height: 14px;
                }
                .abs-circle {
                    position: absolute;
                    width: 205px;
                    height: 205px;
                    border-radius: 50%;
                    border: 1px solid #ff5268;
                    top: 0;
                    left: -70px;
                    display: flex;
                    padding: 4px;
                    &:before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ff5268;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.sec-lvl-2 {
    .menu {
        background: #fff;
        display: flex;
        position: relative;
        z-index: 5;
        justify-content: center;
        align-items: center;
        padding: 17px 0;
        box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05);
        .side {
            width: 100%;
            &.left-side {
                display: flex;
                align-items: center;
                padding-left: 45px;
                img {
                    flex-shrink: 0;
                    opacity: 0.28;
                }
                .name {
                    padding-left: 10px;
                    opacity: 0.28;
                    font-family: BebasNeueBold;
                    font-size: 22px;
                }
            }
            &.mid-side {
                width: 100%;
                max-width: 1170px;
                flex-shrink: 0;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    li {
                        a {
                            font-size: 24px;
                            font-family: BebasNeueRegular;
                            text-transform: uppercase;
                            transition: 0.3s;
                            &.active {
                                color: #ff455d;
                            }
                            &:hover {
                                color: #ff455d;
                            }
                        }
                    }
                }
            }
        }
    }
    .about {
        padding-top: 60px;
        padding-bottom: 50px;
        background: #f6f6f6;
        overflow: hidden;
        .sl-1 {
            margin-bottom: 40px;
            
            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 5000px;
                height: 3px;
                background: #de3a48;
            }
            .slide {
                outline: none;
                font-family: BebasNeueBold;
                font-size: 38px;
                letter-spacing: 0.3px;
                color: #d1d1d1;
                text-transform: uppercase;
                transition: 0.3s;
                min-height: 84px;
                display: flex;
                align-items: flex-end;
                line-height: 38px;
                cursor: pointer;
                &.left-style {
                    text-align: right;
                    justify-content: flex-end;
                }
                &.slick-current {
                    font-size: 56px;
                    line-height: 56px;
                    color: #de3a48;
                }
            }
        }
        .sl-2 {
            .slide {
                outline: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 330px;
                p {
                    font-size: 20px;
                    font-family: ARIALN;
                    line-height: 1.5;
                    letter-spacing: 0.2px;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .slick-arrow {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                outline: none;
                background-image: url(../img/arr-right.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 36px;
                height: 36px;
                background-color: transparent;
                border:none;
                font-size: 0;
                background-size: 22px;
                transition: 0.3s;
                cursor: pointer;
                &.slick-disabled{
                    opacity: 0;
                }
                &.slick-prev {
                    transform-origin:center;
                    transform: rotate(180deg);
                    left: -50px;
                }
                &.slick-next {
                    right: -50px;
                }
            }
        }
    }
}
.sec-lvl-3{
    h4{
        text-align: center;
        font-weight: normal;
        font-family: BebasNeueBold;
        font-size: 56px;
        letter-spacing: 0.4px;
        text-decoration: underline;
        margin-bottom: 84px;
    }
    h6{
        text-align: center;
        font-weight: normal;
        font-family: BebasNeueBold;
        color: #de3a48;
        font-size: 32px;
        letter-spacing: 0.4px;
        margin-bottom: 50px;
    }
    .list-should-apply{
        margin: 0;
        margin-bottom: 22px;
        list-style: none;
        font-family: BebasNeueBook;
        font-size: 32px;
        letter-spacing: 0.4px;
        li{
            position: relative;
            padding-left: 56px;
            margin-bottom: 38px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 6px;
                left: 0;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 2px solid #ff556b;
                background-image: url(../img/checked.svg);
                background-size: 19px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
.sec-lvl-4{
    background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -230px center;
    position: relative;
    padding: 40px 0;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.93;
        background-color: #f23545;
    }
    .for-flex-cont{
        display: flex;
        position: relative;
        z-index: 10;
        .left-side{
            flex-shrink: 0;
            width: 240px;
            p{
                text-align: right;
                font-family: BebasNeueBook;
                color: #fff;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: 0.4px;
                span{
                    font-family: BebasNeueBold;
                }
            }
        }
        .right-side{
            padding-left: 32px;
            width: 100%;
            ul{
                margin: 0;
                list-style: none;
                font-family: ARIALN;
                font-size: 20px;
                letter-spacing: 0.2px;
                color: #fff;
                li{
                        padding-left: 29px;
                    background-image: url(../img/checked-white.svg);
                    background-repeat: no-repeat;
                    background-position: top 11px left;
                    background-size: 11px;
                }
                
            }
        }
    }
}

.sec-lvl-5{
    padding-top: 105px;
    padding-bottom: 60px;
    .for-b{
        display: flex;
        justify-content: center;
        h4{
             font-size: 56px;
              letter-spacing: 0.4px;
            border-bottom: 3px solid #000;
            line-height: 48px;
            margin-bottom: 50px;
            font-family: BebasNeueBold;
        }
    }
    .list-acceleration{
       
        .one-item{
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            .num{
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                background: #ff455d;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: BebasNeueBold;
                color: #fff;
                font-size: 34px;
                letter-spacing: 0.3px;
                 position: relative;
                 top: -7px;
            }
            .desc{
                width: 100%;
                padding-left: 25px;
                .f{
                    font-family: BebasNeueRegular;
                    font-size: 36px;
                    margin-bottom: 7px;
                    letter-spacing: 0.3px;
                    line-height: 36px;
                   
                   
                }
                .s{
                    font-family: ARIALN;
                    font-size: 20px;
                    line-height: 1.5;
                    letter-spacing: -0.2px;
                     color: #8e8e8e;
                }
            }
        }
    }
}

.sec-lvl-6{
     background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -230px center;
    position: relative;
    overflow: hidden;
    padding: 33px 0;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.93;
        background-color: #f23545;
    }
    .max-w-960{
        position: relative;
        z-index: 10;
    }
    p{
        font-family: BebasNeueBold;
        color: #fff;
        margin: 0;
        font-size: 56px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        &:first-child{
            position: relative;
            &:before{
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 5000px;
                height: 3px;
                background: #fff;
            }
        }
    }
}

.sec-lvl-7{
    padding-top: 10px;
    padding-bottom: 40px;
    .timeline{
        .one-time{
            padding-top: 110px;
            position: relative;
            margin-bottom: 12px;
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                display: block;
                height: 100px;
                width: 2px;
                transform: translateX(-1px);
                background: #000;
            }
            .text-lvl-1{
                text-align: center;
                font-size: 20px;
                letter-spacing: 0.2px;
                font-family: BebasNeueRegular;
                span{
                    color: #d72434;
                }
                &:first-child{
                    margin-bottom: 27px;    
                }
            }
            .flex-bg{
                display: flex;
                justify-content: center;
                .bg{
                    background-color: #a8abb2;
                    padding: 10px 15px;
                    margin-bottom: 27px;
                    p{
                        color: #fff;
                        margin-bottom: 0;
                        text-align: center;
                        &:first-child{
                            font-family: BebasNeueBold;
                            font-size: 28px;
                             letter-spacing: 0.2px;
                            line-height: 28px;
                            
                        }
                        &:last-child{
                             font-family: ARIALN;
                             font-size: 20px;
                            letter-spacing: 0.2px;
                        }
                    }
                }
            }
            &:first-child{
                padding-top: 60px;
                &:before{
                    height: 50px;
                }
            }
            &:last-child{
                .flex-bg{
                    .bg{
                        background: #ff455d;
                    }
                }
            }
        }
    }
}