@font-face {
    font-family: ARIALN;
    src: url(../fonts/ARIALN.TTF);
}

@font-face {
    font-family: BebasNeueBold;
    src: url(../fonts/BebasNeueBold.otf);
}

@font-face {
    font-family: BebasNeueBook;
    src: url(../fonts/BebasNeueBook.otf);
}

@font-face {
    font-family: BebasNeueRegular;
    src: url(../fonts/BebasNeueRegular.otf);
}
.max-w-1100{
	max-width: 1100px;
}
.max-w-960 {
    max-width: 960px;
    margin: 0 auto;
}

.max-w-1050 {
    max-width: 1050px;
    margin: 0 auto;
}

.max-w-865 {
    max-width: 864px;
    margin: 0 auto;
}

.w-25 {
    width: 33.3%;
    padding: 0 15px;
    padding-bottom: 80px;
}

.section-10-getting {
    width: 100%;
    background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -400px center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #3b3b3b;
        opacity: 0.93;
    }
    .max-w-960 {
        position: relative;
        z-index: 5;
    }
    h3 {
        color: #fff;
        font-size: 36px;
        font-family: BebasNeueBold;
        padding-top: 30px;
        padding-bottom: 23px;
    }
    p {
        color: #fff;
        font-size: 20px;
        font-family: ARIALN;
        text-align: justify;
        padding-bottom: 30px;
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
}

.section-11-review {
    width: 100%;
    background-color: #f6f6f6;
    .max-w-865 {
        margin: 0 auto;
        h3 {
            text-align: center;
            font-size: 56px;
            padding-top: 140px;
            padding-bottom: 20px;
            font-family: BebasNeueBold;
            text-decoration-line: underline;
        }
    }
    .max-w-630 {
        max-width: 630px;
        margin: 0 auto;
        p {
            font-size: 20px;
            font-family: ARIALN;
            text-align: center;
            padding-bottom: 25px;
        }
    }
    .max-w-960 {
        .one-review-item {
            padding-bottom: 30px;
        }
        .flex-one {
            display: flex;
            justify-content: space-between;
            span {
                font-family: ARIALN;
                font-size: 16px;
                color: #8e8e8e;
                padding-bottom: 18px;
            }
            .span-three {
                display: block;
                position: relative;
                left: -13px;
            }
        }
        .flex-two {
            display: flex;
            justify-content: space-between;
            .lolal {
                width: 100%;
                padding-right: 10px;
                .number-1 {
                    font-family: BebasNeueRegular;
                    font-size: 36px;
                    border-bottom: solid 2px #000;
                    margin-bottom: 11px;
                }
            }
            .circle {
                position: relative;
                top: 25px;
                width: 60px;
                height: 60px;
                border: solid 3px #ff455d;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                p {
                    font-size: 28px;
                    font-family: BebasNeueBold;
                    line-height: 1.07;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}

.all-reviews {
    .flex-three {
        display: flex;
        .side {
            width: 170px;
            &.side-left {
                flex-shrink: 0;
            }
            &.side-right {
                flex-shrink: 0;
            }
            &.side-mid {
                width: 100%;
                p {
                    line-height: 1.5;
                }
            }
        }
        .number-2 {
            font-family: BebasNeueRegular;
            line-height: 32px;
            font-size: 36px;
            color: #000;
            text-align: left;
        }
        p {
            font-size: 20px;
            color: #000;
            text-align: center;
            font-family: ARIALN;
            padding: 0px 10px 0px 0px;
        }
    }
}

.section-12-STARTUPS {
    width: 100%;
    background-color: #f6f6f6;
    padding-bottom: 175px;
    h3 {
        text-align: center;
        font-size: 56px;
        padding-top: 190px;
        padding-bottom: 75px;
        font-family: BebasNeueBold;
        text-decoration-line: underline;
    }
    &.last-sec-style {
        .flexfour {
            .block-one {
                h4 {
                    color: #000;
                }
                .second-text {
                    p{
                        border-top: 2px solid #000;
                    }
                }
            }
        }
    }
    .flexfour {
    	display: flex;
    	flex-wrap: wrap;
        .block-one {
        	padding: 10px;
        	width: 50%;
            h4 {
                color: #de3a48;
                font-family: BebasNeueBold;
                font-size: 40px;
            }
            .second-text {
                p {
                    font-size: 20px;
                    font-family: ARIALN;
                    color: #8e8e8e;
                    max-width: 545px;
                    border-top: 2px solid #de3a48;
                    padding: 5px 5px 0px 5px;
                    padding-bottom: 25px;
                    line-height: 1.5;
                    letter-spacing: 0.2px;
                }
            }
            &:last-child {
                .second-text {
                    p {
                        padding-bottom: 0px;
                    }
                }
            }
        }
    }
}

.section-13-STRUCTURE {
    width: 100%;
    background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -400px center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #fd7400;
        opacity: 0.93;
    }
    .max-w-960 {
        position: relative;
        z-index: 5;
    }
    h3 {
        color: #fff;
        font-size: 56px;
        font-family: BebasNeueBold;
        padding-top: 30px;
        padding: 15px 0px 15px 0px;
        text-align: center;
        letter-spacing: 0.4px;
    }
}

.section-14-team {
    padding-bottom: 90px;
    width: 100%;
    background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -100px center;
    position: relative;
    &.for-color {
        &:before {
            background: #3b3b3b;
        }
    }
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #f23545;
        opacity: 0.93;
    }
    .max-w-1050 {
        position: relative;
        z-index: 5;
    }
    h3 {
        color: #fff;
        font-size: 56px;
        font-family: BebasNeueBold;
        padding-top: 30px;
        padding-bottom: 70px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.4px;
    }
    .flex-five {
        display: flex;
        flex-wrap: wrap;
    }
    .back-img {
        width: 120px;
        height: 120px;
        background-color: rgba(0, 0, 0, 0.27);
        border-radius: 50%;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
    }
    h4 {
        color: #fff;
        font-size: 32px;
        font-family: BebasNeueBold;
        text-transform: uppercase;
        text-align: center;
        padding-top: 25px;
        letter-spacing: 0.2px;
    }
    p {
        font-size: 16px;
        font-family: ARIALN;
        color: #fff;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 0.1px;
    }
}

.section-15-timeline {
    overflow: hidden;
    .line {
        h3 {
            padding-top: 190px;
            font-size: 56px;
            font-family: BebasNeueBold;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            &:first-child {
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 5000px;
                    height: 3px;
                    background: #000;
                }
            }
        }
        h4 {
            font-size: 36px;
            font-family: BebasNeueRegular;
            letter-spacing: 0.4px;
            line-height: 0.83;
            letter-spacing: 0.3px;
            color: #de3a48;
            padding-top: 35px;
        }
        h5 {
            font-size: 26px;
            font-family: BebasNeueRegular;
            text-transform: uppercase;
            line-height: 1.15;
            letter-spacing: 0.2px;
            padding-bottom: 10px;
        }
        p {
            font-size: 16px;
            font-family: ARIALN;
            letter-spacing: 0.1px;
            color: #8e8e8e;
            line-height: 1.88;
            padding-bottom: 20px;
        }
    }
    .w-t-15 {
        max-width: 905px;
        margin: 0 auto;
        P {
            font-size: 20px;
            font-family: ARIALN;
            line-height: 1.5;
            letter-spacing: 0.2px;
            text-align: justify;
            color: #8e8e8e;
            padding-bottom: 30px;
        }
    }
    .block-box {
        max-width: 1020px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 230px;
        &.desctop {
            .side {
                width: 50%;
            }
            .for-padd-wrapp {
                width: 100%;
            }
        }
        h6 {
            color: #000;
            font-size: 30px;
            font-family: BebasNeueRegular;
            letter-spacing: 0.3px;
            padding-bottom: 15px;
            padding-left: 20px;
            line-height: 40px;
        }
        span {
            color: #ff455d;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.1px;
            font-family: ARIALN;
            padding-bottom: 5px;
            padding-left: 20px;
            cursor: pointer;
        }
        .shadow {
            border-radius: 4px;
            background-color: #fbfbfb;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
            padding: 3px 0px;
            .hidden-block-desc {
                padding: 20px;
                font-family: ARIALN;
                font-size: 16px;
                display: none;
            }
        }
        .for-padd-wrapp {
            width: 50%;
            padding: 10px 10px 10px 10px;
        }
    }
}
