@font-face {
    font-family: ARIALN;
    src: url(../fonts/ARIALN.TTF);
}
@font-face {
    font-family: BebasNeueBold;
    src: url(../fonts/BebasNeueBold.otf);
}
@font-face {
    font-family: BebasNeueBook;
    src: url(../fonts/BebasNeueBook.otf);
}
@font-face {
    font-family: BebasNeueRegular;
    src: url(../fonts/BebasNeueRegular.otf);
}
.max-w-960{
	max-width: 960px;
	margin: 0 auto;
}

.section-10-getting{
	width:100%;
	background-image: url(../img/my-1.png)
	h3{
		color: #fff;
		font-size: 36px;
		font-family: BebasNeueBold;
		padding-top: 30px;
	}
	p{
		color: #fff;
		font-size: 20px;
	}
}
