body {
    background: #f6f6f6;
}

a {
    color: #000;
    &:hover {
        color: #000;
    }
}

.max-w-675 {
    max-width: 675px;
    margin: 0 auto;
}

.max-w-710 {
    max-width: 710px;
    margin: 0 auto;
}

.max-w-815 {
    max-width: 815px;
    margin: 0 auto;
}

.max-w-920 {
    max-width: 920px;
    margin: 0 auto;
}

.max-w-960 {
    max-width: 960px;
    margin: 0 auto;
}

.max-w-670 {
    max-width: 670px;
    margin: 0 auto;
}
.max-w-1075{
    max-width: 1075px;
    margin: 0 auto;
}

.sec-lvl-1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    background-image: url(../img/bg-movie.png);
    background-size: cover;
    background-position: center;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    #video-background {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 2;
    }
    .for-abs-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 62px;
        display: flex;
        z-index: 10;
        .rel-logo {
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                position: relative;
                display: flex;
                flex-direction: column;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -27px;
                    left: 0;
                    width: 5000px;
                    height: 3px;
                    background: #fff;
                }
                p {
                    margin-bottom: 0;
                    position: relative;
                    z-index: 15;
                }
                .f {
                    text-transform: uppercase;
                    margin-left: auto;
                    color: #fff;
                    font-family: BebasNeueBold;
                    font-size: 38px;
                    line-height: 42px;
                    padding-left: 45px;
                    background-image: url(../img/logo-1.png);
                    background-repeat: no-repeat;
                    background-position: top 1px left;
                }
                .s {
                    color: #fff;
                    font-family: BebasNeueBold;
                    text-transform: uppercase;
                    font-size: 150px;
                    line-height: 150px;
                    letter-spacing: -4px;
                    margin: 0;
                }
                .t {
                    color: #fff;
                    font-family: BebasNeueBold;
                    text-transform: uppercase;
                    font-size: 60px;
                    line-height: 14px;
                }
                .abs-circle {
                    position: absolute;
                    width: 205px;
                    height: 205px;
                    border-radius: 50%;
                    border: 1px solid #ff5268;
                    top: 0;
                    left: -70px;
                    display: flex;
                    padding: 4px;
                    &:before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ff5268;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.sec-lvl-2 {
    .menu {
        background: #fff;
        display: flex;
        position: relative;
        z-index: 50;
        justify-content: center;
        align-items: center;
        padding: 17px 0;
        width: 100%;
        box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05);
        &.js-fixed {
            position: fixed;
            top: 0;
            left: 0;
        }
        .side {
            width: 100%;
            &.left-side {
                display: flex;
                align-items: center;
                padding-left: 45px;
                img {
                    flex-shrink: 0;
                    
                }
                .name {
                    padding-left: 10px;
                    font-family: BebasNeueBold;
                    font-size: 22px;
                    color: #D3202E;
                }
            }
            &.mid-side {
                width: 100%;
                max-width: 1170px;
                flex-shrink: 0;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    li {
                        a {
                            font-size: 24px;
                            font-family: BebasNeueRegular;
                            text-transform: uppercase;
                            transition: 0.3s;
                            &.active {
                                color: #ff455d;
                            }
                            &:hover {
                                color: #ff455d;
                            }
                        }
                    }
                }
            }
        }
    }
    .about {
        padding-top: 60px;
        padding-bottom: 50px;
        background: #f6f6f6;
        overflow: hidden;
        .sl-1 {
            margin-bottom: 40px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 5000px;
                height: 3px;
                background: #de3a48;
            }
            .slide {
                outline: none;
                font-family: BebasNeueBold;
                font-size: 38px;
                letter-spacing: 0.3px;
                color: #d1d1d1;
                text-transform: uppercase;
                transition: 0.3s;
                min-height: 84px;
                display: flex;
                align-items: flex-end;
                line-height: 38px;
                cursor: pointer;
                &.left-style {
                    text-align: right;
                    justify-content: flex-end;
                }
                &.slick-current {
                    font-size: 56px;
                    line-height: 56px;
                    color: #de3a48;
                }
            }
        }
        .sl-2 {
            .slide {
                outline: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 330px;
                p {
                    font-size: 20px;
                    font-family: ARIALN;
                    line-height: 1.5;
                    letter-spacing: 0.2px;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .slick-arrow {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                outline: none;
                background-image: url(../img/arr-right.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 36px;
                height: 36px;
                background-color: transparent;
                border: none;
                font-size: 0;
                background-size: 22px;
                transition: 0.3s;
                cursor: pointer;
                &.slick-disabled {
                    opacity: 0;
                }
                &.slick-prev {
                    transform-origin: center;
                    transform: rotate(180deg);
                    left: -50px;
                }
                &.slick-next {
                    right: -50px;
                }
            }
        }
    }
}

.sec-lvl-3 {
    h4 {
        text-align: center;
        font-weight: normal;
        font-family: BebasNeueBold;
        font-size: 56px;
        letter-spacing: 0.4px;
        text-decoration: underline;
        margin-bottom: 84px;
    }
    h6 {
        text-align: center;
        font-weight: normal;
        font-family: BebasNeueBold;
        color: #de3a48;
        font-size: 32px;
        letter-spacing: 0.4px;
        margin-bottom: 50px;
    }
    .list-should-apply {
        margin: 0;
        margin-bottom: 22px;
        list-style: none;
        font-family: BebasNeueBook;
        font-size: 32px;
        letter-spacing: 0.4px;
        li {
            position: relative;
            padding-left: 56px;
            margin-bottom: 38px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 6px;
                left: 0;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 2px solid #ff556b;
                background-image: url(../img/checked.svg);
                background-size: 19px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.sec-lvl-4 {
    background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -230px center;
    position: relative;
    padding: 40px 0;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.94;
        background-color: #252525;
    }
    .for-flex-cont {
        display: flex;
        position: relative;
        z-index: 10;
        .left-side {
            flex-shrink: 0;
            width: 250px;
            p {
                text-align: right;
                font-family: BebasNeueBook;
                color: #fff;
                font-size: 27px;
                line-height: 36px;
                letter-spacing: 0.4px;
                padding-right: 5px;
                .for-font {
                    font-family: BebasNeueBold;
                }
                .new-block-style{
                    display: block;
                    position:relative;
                    left: 5px;
                    padding-right: 5px;
                    background-color: #f3364a;
                    &:before{
                        content: "";
                        display: block;
                        position:absolute;
                        top: 0;
                        right: 100%;
                        height: 100%;
                        background-color: #f3364a;
                        width: 5000px;
                    }
                }
            }
        }
        .right-side {
            padding-left: 32px;
            width: 100%;
            ul {
                margin: 0;
                list-style: none;
                font-family: ARIALN;
                font-size: 20px;
                letter-spacing: 0.2px;
                color: #fff;
                li {
                    padding-left: 29px;
                    background-image: url(../img/checked-white.svg);
                    background-repeat: no-repeat;
                    background-position: top 11px left;
                    background-size: 11px;
                }
            }
        }
    }
}

.sec-lvl-5 {
    padding-top: 105px;
    padding-bottom: 60px;
    .for-b {
        display: flex;
        justify-content: center;
        h4 {
            font-size: 56px;
            letter-spacing: 0.4px;
            border-bottom: 3px solid #000;
            line-height: 48px;
            margin-bottom: 50px;
            font-family: BebasNeueBold;
        }
    }
    .list-acceleration {
        .one-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            .num {
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                background: #ff455d;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: BebasNeueBold;
                color: #fff;
                font-size: 34px;
                letter-spacing: 0.3px;
                position: relative;
                top: -7px;
            }
            .desc {
                width: 100%;
                padding-left: 25px;
                .f {
                    font-family: BebasNeueRegular;
                    font-size: 36px;
                    margin-bottom: 7px;
                    letter-spacing: 0.3px;
                    line-height: 36px;
                }
                .s {
                    font-family: ARIALN;
                    font-size: 20px;
                    line-height: 1.5;
                    letter-spacing: -0.2px;
                    color: #8e8e8e;
                }
            }
        }
    }
}

.sec-lvl-6 {
    background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -230px center;
    position: relative;
    overflow: hidden;
    padding: 33px 0;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.93;
        background-color: #f23545;
    }
    .max-w-960 {
        position: relative;
        z-index: 10;
    }
    p {
        font-family: BebasNeueBold;
        color: #fff;
        margin: 0;
        font-size: 56px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        &:first-child {
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 5000px;
                height: 3px;
                background: #fff;
            }
        }
    }
}
.max-w-1100{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.sec-lvl-7 {
    padding-top: 10px;
    padding-bottom: 40px;
    padding: 250px 0;
    .w-f-1{
        width: 180px;
    }
    .w-f-2{
        width: 195px;
    }
    .w-f-3{
        width: 280px;
    }
    .w-f-4{
        width: 390px;
    }        
    .year{
            margin: 0;
            position: absolute;
            right: calc(100% + 30px);
            font-family: BebasNeueRegular;
            font-size: 48px;
            letter-spacing: 0.4px;
            color: #f3364a;
            bottom: 100%;
        }
    .timeline {
        display: flex;
        position:relative;

        &:before{
            content: "";
            display: block;
            position:absolute;
            right: 100%;
            top: 50%;
            height: 1px;
            background: #d6d6d6;
            width: 5000px;
        }
        &:after{
            content: "";
            display: block;
            position:absolute;
            left: 100%;
            top: 50%;
            height: 1px;
            background: #d6d6d6;
            width: 5000px;

        }
        .one-time {
            display: flex;
            justify-content: space-between;
           
            width: 25%;
          
            position: relative;
           
            &:nth-child(even){
                .flex-bg{
                    top: calc(100% + 30px);
                    .bg {
                        
                        &:before{
                            bottom:calc(100% + 10px);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 9px 14px 9px;
                            border-color: transparent transparent #a8abb2 transparent;
                        }
                    }
                }
            }
            &:nth-child(odd){
                .flex-bg{
                    bottom: calc(100% + 30px);
                    .bg {
                        &:before{
                            top:calc(100% + 10px);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 14px 9px 0 9px;
                            border-color: #a8abb2 transparent transparent transparent;
                        }
                    }
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                height: 1px;
                width: 100%;
                
                background: #d6d6d6;
            }
            .text-lvl-1 {
                text-align: center;
                font-size: 20px;
                letter-spacing: 0.2px;
                font-family: BebasNeueRegular;
                 padding: 0 15px;
                 position: relative;
                 background:#f6f6f6;
                 z-index: 10;

                span {
                    color: #d72434;
                }
                &:first-child {
                   margin: 0;

                }
            }
            .flex-bg {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                .bg {
                    background-color: #a8abb2;
                    padding: 10px 15px;
                    margin-bottom: 0;
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);

                    }
                    p {
                        color: #fff;
                        margin-bottom: 0;
                        text-align: center;
                        &:first-child {
                            font-family: BebasNeueBold;
                            font-size: 28px;
                            letter-spacing: 0.2px;
                            line-height: 28px;
                        }
                        &:last-child {
                            font-family: ARIALN;
                            font-size: 20px;
                            letter-spacing: 0.2px;
                        }
                    }
                }
            }
          
            &:last-child {
                .flex-bg {
                    .bg {
                        background: #ff455d;
                        &:before{
                             border-color: transparent transparent #ff455d transparent;
                            
                        }
                    }
                }
            }
        }
    }
}

.section-pre-14 {
    overflow: hidden;
    padding-top: 60px;
    h3 {
        font-weight: 0;
        font-family: BebasNeueBold;
        text-align: center;
        line-height: 0.83;
        letter-spacing: 0.3px;
        font-size: 36px;
        margin-bottom: 30px;
    }
    .for-main-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .circular-pie {
        line-height: normal!important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-1px);
            right: calc(100% + 50px);
            height: 3px;
            width: 5000px;
            background: #ff832f;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-1px);
            left: calc(100% + 50px);
            height: 3px;
            width: 5000px;
            background: #ff832f;
        }
        span {
            font-family: BebasNeueBold;
            font-size: 64px;
            letter-spacing: 0.5px;
            line-height: 61px;
        }
        canvas {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .flex-outher-counter {
        display: flex;
        margin-bottom: 40px;
        .side {
            width: 50%;
            .h {
                font-family: BebasNeueRegular;
                font-size: 26px;
                line-height: 1.15;
                letter-spacing: 0.2px;
                max-width: 200px;
                text-align: center;
            }
            .flex-counter-desc {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 25px;
                .desc {
                    padding-left: 50px;
                    p {
                        font-family: ARIALN;
                        font-size: 20px;
                        color: #8e8e8e;
                        line-height: 1.2;
                        letter-spacing: 0.2px;
                        margin-bottom: 10px;
                        span {
                            color: #8e8e8e;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.left-side {
                .h {
                    margin-left: auto;
                }
                .flex-counter-desc {
                    flex-direction: row-reverse;
                    padding-left: 0;
                    padding-right: 25px;
                    .desc {
                        padding-left: 0;
                        padding-right: 50px;
                        text-align: right;
                    }
                }
            }
            .counter-head {
                position: relative;
                .for-counter-2 {
                    position: relative;
                    .pie {
                        line-height: normal!important;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.circular-pie_3 {
                            canvas {
                                transform: matrix3d(-1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, -1, 0, 0, 0, 0, 1);
                                -webkit-transform: matrix3d(-1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, -1, 0, 0, 0, 0, 1);
                            }
                        }
                        span {
                            font-family: BebasNeueBold;
                            font-size: 40px;
                            letter-spacing: 0.3px;
                        }
                        canvas {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    .last-t-sec {
        text-align: center;
        font-family: ARIALN;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.1px;
        color: #8e8e8e;
        span {
            font-weight: bold;
        }
    }
}

footer {
    padding: 0;
    margin: 0;
    background-image: url(../img/my1.png);
    background-size: cover;
    background-position: top -230px center;
    position: relative;
    padding: 30px 0;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.93;
        background-color: #f23545;
    }
    .footer-wr {
        position: relative;
        z-index: 10;
        .logo {
            color: #fff;
            text-transform: uppercase;
            color: #fff;
            font-family: BebasNeueBold;
            font-size: 38px;
            line-height: 42px;
            padding-left: 45px;
            background-image: url(../img/logo-1.png);
            background-repeat: no-repeat;
            background-position: top 1px left;
        }
        .head-bl {
            color: #fff;
            font-family: BebasNeueBold;
            font-size: 25px;
            margin-bottom: 20px;
        }
        .soc {
            color: #fff;
            font-family: ARIALN;
            letter-spacing: 0.2px;
            display: block;
            margin-bottom: 10px;
        }
        .some-t {
            color: #fff;
            font-family: ARIALN;
            letter-spacing: 0.2px;
        }
        form {
            input {
                display: block;
                padding: 1.5rem 2rem;
                border-radius: 5px;
                max-width: 300px;
                outline: none;
                background: rgba(255, 255, 255, 0.28);
                border: none;
                width: 100%;
                font-family: ARIALN;
                color: #fff;
                margin-bottom: 1.8rem;
            }
            button {
                display: block;
                visibility: hidden;
            }
        }
        .last-t {
            padding-top: 20px;
            text-align: center;
            font-family: ARIALN;
            font-size: 16px;
            color: #fff;
        }
    }
}

.sec-lvl-16 {
    padding-top: 90px;
    .for-m-w {
        max-width: 900px;
        margin: 0 auto;
        h4 {
            font-family: BebasNeueBold;
            text-align: center;
            font-weight: normal;
            font-size: 56px;
            letter-spacing: 0.4px;
            text-decoration: underline;
            margin-bottom: 50px;
        }
        .port-wr {
            display: flex;
            flex-wrap: wrap;
            .one-port {
                padding: 0 25px;
                margin-bottom: 50px;
                width: 50%;
                cursor: pointer;
                .port {
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
                    height: 152px;
                    .left-side {
                        width: 35%;
                        flex-shrink: 0;
                        img {
                            margin: 0 auto;
                        }
                    }
                    .right-side {
                        width: 100%;
                        img {
                            margin: 0 auto 10px auto;
                        }
                        p {
                            margin: 0;
                            &.my-center {
                                text-align: center;
                            }
                            &.name {
                                font-family: BebasNeueBold;
                                font-size: 36px;
                                letter-spacing: 0.3px;
                                line-height: 36px;
                            }
                            &.sec-desc {
                                font-family: ARIALN;
                                font-size: 20px;
                                line-height: 1.5;
                                letter-spacing: 0.2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

section {
    overflow: hidden;
}

.sec-lvl-3 .list-should-apply {
    li {
        opacity: 0;
        transform: translateX(-100px);
        transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
        &:nth-child(1) {
            transition-delay: .15s, .3s;
        }
        &:nth-child(2) {
            transition-delay: .25s, .4s;
        }
        &:nth-child(3) {
            transition-delay: .35s, .5s;
        }
        &:nth-child(4) {
            transition-delay: .45s, .6s;
        }
        &:nth-child(5) {
            transition-delay: .55s, .7s;
        }
        &:nth-child(6) {
            transition-delay: .65s, .8s;
        }
    }
    &[data-anim=true] {
        li {
            opacity: 1;
            transform: none;
        }
    }
}

.sec-lvl-4 .for-flex-cont {
    .left-side {
        opacity: 0;
        transform: translateX(-100px);
        transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
    }
    .right-side {
        opacity: 0;
        transform: translateX(100px);
        transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
    }
    &[data-anim=true] {
        .left-side {
            opacity: 1;
            transform: none;
        }
        .right-side {
            opacity: 1;
            transform: none;
        }
    }
}

.sec-lvl-5 .list-acceleration {
    .one-item {
        opacity: 0;
        transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
        &:nth-child(odd) {
            transform: translateX(-50px);
        }
        &:nth-child(even) {
            transform: translateX(50px);
        }
        &[data-anim=true] {
            opacity: 1;
            transform: none;
        }
    }
}

.sec-lvl-6 .max-w-960 {
    opacity: 0;
    transform: translateX(130px);
    transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
    &[data-anim=true] {
        opacity: 1;
        transform: none;
    }
}

.sec-lvl-7 .timeline .one-time {
    opacity: 0;
    transform: translateY(100px);
    transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
    &[data-anim=true] {
        opacity: 1;
        transform: none;
    }
}

.section-11-review .max-w-960 .one-review-item {
    opacity: 0;
    transform: translateY(100px);
    transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
    &[data-anim=true] {
        opacity: 1;
        transform: none;
    }
}

.section-12-STARTUPS .flexfour .block-one {
    opacity: 0;
    transform: scale(0.5);
    transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
    &[data-anim=true] {
        opacity: 1;
        transform: none;
    }
}

.section-14-team{
    .w-25 {
        opacity: 0;
        transform: translateY(-50px);
        transition: transform .75s cubic-bezier(.39, .575, .565, 1), opacity .5s linear;
        &:nth-child(1){
            transition-delay: .15s,.3s;
        }
        &:nth-child(2){
            transition-delay: .25s,.4s;
        }
        &:nth-child(3){
            transition-delay: .35s,.5s;
        }
        &:nth-child(4){
            transition-delay: .45s,.6s;
        }
        &:nth-child(5){
            transition-delay: .55s,.7s;
        }
        &:nth-child(6){
            transition-delay: .65s,.8s;
        }
        &:nth-child(7){
            transition-delay: .75s,.9s;
        }
        &:nth-child(8){
            transition-delay: .85s, 1s;
        }
    }
    &[data-anim=true] {
        .w-25 {
            opacity: 1;
            transform: none;
        }
    }
}
.for-flag{
    width: 50px;
    position: relative;
    color: #fff;
        font-family: BebasNeueRegular;
    letter-spacing: 1px;
    .dropdown-wrch{
        display: none;
        
    }
    .flag-vr{
        padding-left: 22px;
        padding-right: 15px;
        text-transform: uppercase;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 18px;
            height: 12px;
            background: url(../img/ru.png);
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 9px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #fff transparent transparent transparent;
        }
    }
    .pick-lang{
        position: absolute;
        left: 0;
        border: 1px solid #ffffff;
        
        z-index: 20;
        top: 100%;
        a {
            color: #fff;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            display: block;
            padding: 2px 16px;
            font-size: 16px;
        }
    }
}


.modal-dialog {
    width: 700px;
        margin: 30px auto;
}
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-header {
    border: none;
    padding-top: 30px;
    position: relative;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal.modal-company .company-logo {
    margin-top: 15px;
    margin-left: 25px;
}
.modal.modal-company .company-logo img {
    max-height: 63px;
}
.modal button.close {
    text-shadow: none;
    background: none;
    position: absolute;
    right: 16px;
    top: 12px;
    z-index: 10;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #586A8F;
}
.modal.modal-company .company-container {
    margin-left: 10px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
}


.modal.modal-company .company-container .row {
    margin-bottom: 20px;
}
.modal {
    background: rgba(0,0,0,0.9);
        font-family: ARIALN;
    a{
        color: #f23545;
    }
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal button.close svg {
    width: 40px;
    height: 40px;
}

.parteners{
    background: #fff;
    padding: 82px 0;

     h3 {
        font-weight: 0;
        font-family: BebasNeueBold;
        text-align: center;
        line-height: 0.83;
        letter-spacing: 0.3px;
        font-size: 36px;
        margin-bottom: 30px;
    }
    .flex-partners{
        display: flex;
        flex-wrap: wrap;
            align-items: center;
        .one-partner{
            width: 25%;
            padding: 0 10px;
           
            img{
                margin: 0 auto;
               
            }
        }
    }
}











